        <div id="box_contenitore">              
                
                <div id="box_header_l1" style="background-image: url(&#39;http://dl.dropbox.com/u/91676817/www.studio18karati.net/release_beatrice/templates/4/studio18karati/header_bottom.jpg&#39;);">
                        <div align="center">www.studio18karati.net</div>
                </div>
                
                <div id="box_header_l2" style="background-image: url(&#39;http://dl.dropbox.com/u/91676817/www.studio18karati.net/release_beatrice/templates/4/studio18karati/header.jpg&#39;);">
                        
<table summary="" border="0" height="200" width="100%">
        <tbody><tr>
                <td width="20%" align="center" valign="center">
                        <img src="./dovesiamo_files/s18k_big.png" border="0" height="120" alt="">                       
                </td>
                <td width="20%" align="center" valign="center">                  
                        <img src="./dovesiamo_files/numero-verde-grigio.png" border="0" height="60" alt="">
                </td>
                <td width="*" align="center" valign="center">
                        <div class="titolo_claim">
                                Noi diamo valore al tuo oro!
                        </div>
                        <h1 style="text-shadow: 4px 4px 6px #333;"><font color="#FFFFFF">Compro Oro - Quotazioni Oro - Oro da Investimento - Valore Oro</font></h1>
                </td>
                <td width="10%" align="center" valign="center">   
                        <table width="100%" summary="" border="0">
                                <tbody><tr>
                                        <td> 
                                                <a href="https://www.facebook.com/Studio18KaratiSpA"><img src="./dovesiamo_files/icona-facebook.png" border="0" width="32" alt=""></a>
                                        </td>
                                        <td>
                                                <a href="https://plus.google.com/106276686950107903133?rel=author"><img alt="Google" src="./dovesiamo_files/icona-google-plus.png" border="0" width="32"></a>
                                        </td>
                                        <td> 
                                                <a href="http://www.youtube.com/studio18karati"><img src="./dovesiamo_files/icona-youtube.png" border="0" width="32" alt=""></a>
                                        </td>
                                </tr>
                        </tbody></table>
                </td>
        </tr>
</tbody></table>                                 
                                 
                </div>                           
                
                <div id="box_menu_l1" style="background-image: url(&#39;http://dl.dropbox.com/u/91676817/www.studio18karati.net/release_beatrice/templates/4/studio18karati/menu.jpg&#39;);">
                </div>
                <div id="box_menu_l2" style="background-image: url(&#39;http://dl.dropbox.com/u/91676817/www.studio18karati.net/release_beatrice/templates/4/studio18karati/menu.jpg&#39;);">
                        
                        <div align="left">
                        
                <table border="0" cellpadding="0" cellspacing="0">
                        <tbody><tr>
                                
                                                        <td width="100" height="30" bgcolor="#006293">
                                                        
                                                <div align="center">
                                                        <table border="0" cellpadding="2">
                                                        <tbody><tr>
                                                                <td>
                                                                                <div style="font-size: 10pt; font-family: Arial, sans-serif; font-weight: bold; text-decoration: none;">
                                                                                        
                                                                                                <a href="http://www.studio18karati.net/index.asp?schedario_4_select=Home&canvas=4_0_home" style="font-size: 10pt; font-family: Arial, sans-serif; font-weight: bold; text-decoration: none; color:white">Home</a>
                                                                                        
                                                                                </div>
                                                                        </td>
                                                        </tr>
                                                </tbody></table>
                                                </div>
                                                </td>
                                                <td width="2"></td>
                                        
                                                        <td width="100" height="30" bgcolor="#006293">
                                                        
                                                <div align="center">
                                                        <table border="0" cellpadding="2">
                                                        <tbody><tr>
                                                                <td>
                                                                                <div style="font-size: 10pt; font-family: Arial, sans-serif; font-weight: bold; text-decoration: none;">
                                                                                        
                                                                                                <a href="http://www.studio18karati.net/azienda.asp?schedario_4_select=Azienda&canvas=4_0_azienda" style="font-size: 10pt; font-family: Arial, sans-serif; font-weight: bold; text-decoration: none; color:white">Azienda</a>
                                                                                        
                                                                                </div>
                                                                        </td>
                                                        </tr>
                                                </tbody></table>
                                                </div>
                                                </td>
                                                <td width="2"></td>
                                        
                                                        <td width="100" height="30" bgcolor="#d7d7d7">
                                                        
                                                <div align="center">
                                                        <table border="0" cellpadding="2">
                                                        <tbody><tr>
                                                                <td>
                                                                                <div style="font-size: 10pt; font-family: Arial, sans-serif; font-weight: bold; text-decoration: none;">
                                                                                        
                                                                                                <a href="./dovesiamo_files/dovesiamo.html" style="font-size: 10pt; font-family: Arial, sans-serif; font-weight: bold; text-decoration: none; color:#006293">Dove Siamo</a>
                                                                                        
                                                                                </div>
                                                                        </td>
                                                        </tr>
                                                </tbody></table>
                                                </div>
                                                </td>
                                                <td width="2"></td>
                                        
                                                        <td width="100" height="30" bgcolor="#006293">
                                                        
                                                <div align="center">
                                                        <table border="0" cellpadding="2">
                                                        <tbody><tr>
                                                                <td>
                                                                                <div style="font-size: 10pt; font-family: Arial, sans-serif; font-weight: bold; text-decoration: none;">
                                                                                        
                                                                                                <a href="http://www.studio18karati.net/index.asp?schedario_4_select=e-com&canvas=4_0_investimenti" style="font-size: 10pt; font-family: Arial, sans-serif; font-weight: bold; text-decoration: none; color:white">e-com</a>
                                                                                        
                                                                                </div>
                                                                        </td>
                                                        </tr>
                                                </tbody></table>
                                                </div>
                                                </td>
                                                <td width="2"></td>
                                        
                                                        <td width="100" height="30" bgcolor="#006293">
                                                        
                                                <div align="center">
                                                        <table border="0" cellpadding="2">
                                                        <tbody><tr>
                                                                <td>
                                                                                <div style="font-size: 10pt; font-family: Arial, sans-serif; font-weight: bold; text-decoration: none;">
                                                                                        
                                                                                                <a href="http://www.studio18karati.net/contatti.asp?schedario_4_select=Contatti&canvas=4_0_contatti" style="font-size: 10pt; font-family: Arial, sans-serif; font-weight: bold; text-decoration: none; color:white">Contatti</a>
                                                                                        
                                                                                </div>
                                                                        </td>
                                                        </tr>
                                                </tbody></table>
                                                </div>
                                                </td>
                                                <td width="2"></td>
                                        
                                                        <td width="100" height="30" bgcolor="#006293">
                                                        
                                                <div align="center">
                                                        <table border="0" cellpadding="2">
                                                        <tbody><tr>
                                                                <td>
                                                                                <div style="font-size: 10pt; font-family: Arial, sans-serif; font-weight: bold; text-decoration: none;">
                                                                                        
                                                                                                <a href="http://www.studio18karati.net/index.asp?schedario_4_select=Blog&canvas=4_0_blog" style="font-size: 10pt; font-family: Arial, sans-serif; font-weight: bold; text-decoration: none; color:white">Blog</a>
                                                                                        
                                                                                </div>
                                                                        </td>
                                                        </tr>
                                                </tbody></table>
                                                </div>
                                                </td>
                                                <td width="2"></td>
                                        
                                                        <td width="100" height="30" bgcolor="#006293">
                                                        
                                                <div align="center">
                                                        <table border="0" cellpadding="2">
                                                        <tbody><tr>
                                                                <td>
                                                                                <div style="font-size: 10pt; font-family: Arial, sans-serif; font-weight: bold; text-decoration: none;">
                                                                                        
                                                                                                <a href="http://www.studio18karati.net/index.asp?schedario_4_select=Andrea%20Z.&canvas=4_0_zironi" style="font-size: 10pt; font-family: Arial, sans-serif; font-weight: bold; text-decoration: none; color:white">Andrea Z.</a>
                                                                                        
                                                                                </div>
                                                                        </td>
                                                        </tr>
                                                </tbody></table>
                                                </div>
                                                </td>
                                                <td width="2"></td>
                                        
                        </tr>
                </tbody></table>                          
                </div>
                
                </div> 
                
                <div id="box_main_l1" style="background-image: url(&#39;http://dl.dropbox.com/u/91676817/www.studio18karati.net/release_beatrice/templates/4/studio18karati/main_bottom.jpg&#39;);">
                </div>
                <div id="box_main_l2" style="background-image: url(&#39;http://dl.dropbox.com/u/91676817/www.studio18karati.net/release_beatrice/templates/4/studio18karati/main.jpg&#39;);">
                        

